@charset "UTF-8";

/*oocss*/

html {
  font-size: 100%;
}

body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 1rem;
  color: #2a2a2a;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}

.sec-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.btn {
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  display: inline-block;
  font-size: 1rem;
  padding: 18px 40px;
  margin-top: 35px;
}

#header {
  height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  position: relative;
}

#header .site-title {
  position: absolute;
  top: 35px;
  right: 35px;
}

#magazine {
  text-align: center;
  margin-bottom: 90px;
}

#magazine .flex-item {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

#magazine .flex-item .item {
  width: 49%;
  position: relative;
}

#magazine .flex-item .item .text {
  max-width: 300px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

#magazine .flex-item .item .title {
  font-size: 1.25rem;
  margin-bottom: 4px;
}

#fashion {
  height: 550px;
  background-image: url(../img/fashion.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 90px;
}

.catalog-antique {
  background-color: #f5f5f5;
  padding: 70px 0;
}

.catalog-antique .sec-title {
  margin-bottom: 50px;
}

.catalog-antique .flex-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-antique .item {
  width: 48%;
  text-align: center;
}

.catalog-antique .item img {
  width: 100%;
}

.catalog-antique .item p {
  margin-bottom: 40px;
  text-align: left;
}

.catalog-antique .item p:last-child {
  margin-bottom: 0;
}

#footer {
  background-color: #333;
  font-size: 0.750rem;
}

#footer .flex-item {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 150px;
}

#footer .item {
  width: 33%;
  line-height: 2;
}

#footer .item:first-child {
  padding: 70px 0;
}

#footer .item li::before {
  content: "-";
  margin-right: 8px;
}

#footer .item .title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

#footer .copyright {
  background-color: #fff;
  text-align: center;
  padding: 35px 0;
}

@media screen and (max-width: 896px) {

  #magazine .flex-item {
    flex-direction: column;
  }

  #magazine .flex-item .item {
    width: 100%;
  }

  #magazine .flex-item .item:first-child {
    margin-bottom: 35px;
  }

  #fashion {
    padding-top: 35px;
    margin-bottom: 60px;
  }

  .catalog-antique {
    padding: 35px 0;
  }

  .catalog-antique .flex-item {
    flex-direction: column;
  }

  .catalog-antique .item {
    width: 100%;
  }

  .catalog-antique .item:first-child {
    margin-bottom: 70px;
  }

  #footer .flex-item {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #footer .item {
    width: 100%;
    margin-bottom: 40px;
  }

  #footer .item:first-child {
    text-align: center;
    padding: 0;
  }
}